<html>
  <head>
    <title>Editing <%= apple.type %>!</title>
  </head>
  <body>
    <h1>Editing <%= apple.type %>!</h1>
    <hr />
    <!--
      We can't use method="PATCH" because life is tough man.
      So we'll use another route for now. We can deal with this
      using the `method-override` package later.
    -->
    <form action="/apples/update" method="POST">
      <p>
        <strong>Apple type:</strong>
        <input type="text" name="type" value="<%= apple.type %>" />
      </p>
      <p>
        <strong>Apple color:</strong>
        <input type="text" name="color" value="<%= apple.color %>" />
      </p>
      <input type="hidden" name="id" value=<%= id %> />
      <p>
        <input type="submit" value="Go!" />
      </p>
    </form>
    <p>
      <a href="/apples">Back to list of apples</a>
    </p>
  </body>
</html>
