<html>
  <head>
    <title>This is <%= apple.type %>!</title>
  </head>
  <body>
    <h1>This is <%= apple.type %>!</h1>
    <hr />
    <div class="apples-container">
      <div class="apple">
        <p><strong>Apple type:</strong> <%= apple.type %></p>
        <p><strong>Apple color:</strong> <%= apple.color %></p>
        <br />
        <a href="/apples/<%= id %>/edit">Edit</a>
      </div>
    </div>
    <p>
      <a href="/apples">Back to list of apples</a>
    </p>
  </body>
</html>
