<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @ingredient.kind %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @ingredient.stock %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
